/* Original @theme format */
@theme {
  --color-brand-primary-100: #faf2ef;
  --color-brand-primary-200: #f5bfad;
  --color-brand-primary-300: #f39c7f;
  --color-brand-primary-400: #f0764f;
  --color-brand-primary-500: #ee5227;
  --color-brand-primary-600: #c03e1b;
  --color-brand-primary-700: #9b3114;
  --color-brand-primary-800: #76260f;
  --color-brand-primary-900: #511d0d;
  --color-brand-primary-1000: #2c150a;
  --color-brand-secondary-1-100: #fbdfdb;
  --color-brand-secondary-1-200: #fcbcb4;
  --color-brand-secondary-1-300: #fe958c;
  --color-brand-secondary-1-400: #fe6964;
  --color-brand-secondary-1-500: #fd2c41;
  --color-brand-secondary-1-600: #d90b30;
  --color-brand-secondary-1-700: #b40726;
  --color-brand-secondary-1-800: #86041a;
  --color-brand-secondary-1-900: #600611;
  --color-brand-secondary-1-1000: #390a05;
  --color-brand-secondary-2-100: #dbe6fb;
  --color-brand-secondary-2-200: #b2cefc;
  --color-brand-secondary-2-300: #83b7fe;
  --color-brand-secondary-2-400: #45a1fe;
  --color-brand-secondary-2-500: #0a89e6;
  --color-brand-secondary-2-600: #0772c0;
  --color-brand-secondary-2-700: #0663a8;
  --color-brand-secondary-2-800: #034578;
  --color-brand-secondary-2-900: #063055;
  --color-brand-secondary-2-1000: #071d34;
  --color-brand-secondary-3-100: #c6f543;
  --color-brand-secondary-3-200: #b2e325;
  --color-brand-secondary-3-300: #94c200;
  --color-brand-secondary-3-400: #80a800;
  --color-brand-secondary-3-500: #6f9201;
  --color-brand-secondary-3-600: #597600;
  --color-brand-secondary-3-700: #4a6300;
  --color-brand-secondary-3-800: #354800;
  --color-brand-secondary-3-900: #263202;
  --color-brand-secondary-3-1000: #191d04;
  --color-brand-secondary-4-100: #fde2a1;
  --color-brand-secondary-4-200: #fccb05;
  --color-brand-secondary-4-300: #d7ad00;
  --color-brand-secondary-4-400: #bb9600;
  --color-brand-secondary-4-500: #a28200;
  --color-brand-secondary-4-600: #846900;
  --color-brand-secondary-4-700: #6f5800;
  --color-brand-secondary-4-800: #514000;
  --color-brand-secondary-4-900: #392c00;
  --color-brand-secondary-4-1000: #221b03;
  --color-base-100: #f6f4f0;
  --color-base-200: #f0ebe1;
  --color-base-300: #b8b3a8;
  --color-base-400: #a09a8f;
  --color-base-500: #8b867a;
  --color-base-600: #716c62;
  --color-base-700: #5e5a53;
  --color-base-800: #44423d;
  --color-base-900: #302e2b;
  --color-base-1000: #1e1b16;
  --color-base-opacity-1000: #1e1b16;
  --color-base-opacity-900: #1e1b16;
  --color-base-opacity-800: #1e1b16;
  --color-base-opacity-700: #1e1b16;
  --color-base-opacity-600: #1e1b16;
  --color-base-opacity-500: #1e1b16;
  --color-base-opacity-400: #1e1b16;
  --color-base-opacity-300: #1e1b16;
  --color-base-opacity-200: #1e1b16;
  --color-base-opacity-100: #1e1b16;
  --color-text-main: var(--base-1000);
  --color-text-other: var(--base-400);
  --color-text-link: var(--brand-primary-500);
  --text-large-title-l: 2.25rem;
  --text-large-title-l--line-height: 2.5rem;
  --text-large-title-l--letter-spacing: 0rem;
  --text-large-title-l--font-weight: 600;
  --text-large-title-m: 2.25rem;
  --text-large-title-m--line-height: 2.5rem;
  --text-large-title-m--letter-spacing: 0rem;
  --text-large-title-m--font-weight: 500;
  --text-large-title-s: 2.25rem;
  --text-large-title-s--line-height: 2.5rem;
  --text-large-title-s--letter-spacing: 0rem;
  --text-large-title-s--font-weight: 400;
  --text-title-l-1: 1.75rem;
  --text-title-l-1--line-height: 2.125rem;
  --text-title-l-1--letter-spacing: 0rem;
  --text-title-l-1--font-weight: 600;
  --text-title-m-1: 1.75rem;
  --text-title-m-1--line-height: 2.125rem;
  --text-title-m-1--letter-spacing: 0rem;
  --text-title-m-1--font-weight: 500;
  --text-title-s-1: 1.75rem;
  --text-title-s-1--line-height: 2.125rem;
  --text-title-s-1--letter-spacing: 0rem;
  --text-title-s-1--font-weight: 400;
  --text-title-l-2: 1.375rem;
  --text-title-l-2--line-height: 1.75rem;
  --text-title-l-2--letter-spacing: 0rem;
  --text-title-l-2--font-weight: 600;
  --text-title-m-2: 1.375rem;
  --text-title-m-2--line-height: 1.75rem;
  --text-title-m-2--letter-spacing: 0rem;
  --text-title-m-2--font-weight: 500;
  --text-title-s-2: 1.375rem;
  --text-title-s-2--line-height: 1.75rem;
  --text-title-s-2--letter-spacing: 0rem;
  --text-title-s-2--font-weight: 400;
  --text-title-l-3: 1.25rem;
  --text-title-l-3--line-height: 1.5rem;
  --text-title-l-3--letter-spacing: 0rem;
  --text-title-l-3--font-weight: 600;
  --text-title-m-3: 1.25rem;
  --text-title-m-3--line-height: 1.5rem;
  --text-title-m-3--letter-spacing: 0rem;
  --text-title-m-3--font-weight: 500;
  --text-title-s-3: 1.25rem;
  --text-title-s-3--line-height: 1.5rem;
  --text-title-s-3--letter-spacing: 0rem;
  --text-title-s-3--font-weight: 400;
  --text-headline-l: 1.125rem;
  --text-headline-l--line-height: 1.375rem;
  --text-headline-l--letter-spacing: 0rem;
  --text-headline-l--font-weight: 600;
  --text-headline-m: 1.125rem;
  --text-headline-m--line-height: 1.375rem;
  --text-headline-m--letter-spacing: 0rem;
  --text-headline-m--font-weight: 500;
  --text-headline-s: 1.125rem;
  --text-headline-s--line-height: 1.375rem;
  --text-headline-s--letter-spacing: 0rem;
  --text-headline-s--font-weight: 400;
  --text-callout-l: 1rem;
  --text-callout-l--line-height: 1.25rem;
  --text-callout-l--letter-spacing: 0rem;
  --text-callout-l--font-weight: 600;
  --text-callout-m: 1rem;
  --text-callout-m--line-height: 1.25rem;
  --text-callout-m--letter-spacing: 0rem;
  --text-callout-m--font-weight: 500;
  --text-callout-s: 1rem;
  --text-callout-s--line-height: 1.25rem;
  --text-callout-s--letter-spacing: 0rem;
  --text-callout-s--font-weight: 400;
  --text-body-l: 1rem;
  --text-body-l--line-height: 1rem;
  --text-body-l--letter-spacing: 0rem;
  --text-body-l--font-weight: 600;
  --text-body-m: 1rem;
  --text-body-m--line-height: 1rem;
  --text-body-m--letter-spacing: 0rem;
  --text-body-m--font-weight: 500;
  --text-body-s: 1rem;
  --text-body-s--line-height: 1rem;
  --text-body-s--letter-spacing: 0rem;
  --text-body-s--font-weight: 400;
  --text-subheadline-l: 0.875rem;
  --text-subheadline-l--line-height: 1.25rem;
  --text-subheadline-l--letter-spacing: 0rem;
  --text-subheadline-l--font-weight: 600;
  --text-subheadline-m: 0.875rem;
  --text-subheadline-m--line-height: 1.25rem;
  --text-subheadline-m--letter-spacing: 0rem;
  --text-subheadline-m--font-weight: 500;
  --text-subheadline-s: 0.875rem;
  --text-subheadline-s--line-height: 1.25rem;
  --text-subheadline-s--letter-spacing: 0rem;
  --text-subheadline-s--font-weight: 400;
  --text-footnote-l: 0.875rem;
  --text-footnote-l--line-height: 1rem;
  --text-footnote-l--letter-spacing: 0rem;
  --text-footnote-l--font-weight: 600;
  --text-footnote-m: 0.875rem;
  --text-footnote-m--line-height: 1rem;
  --text-footnote-m--letter-spacing: 0rem;
  --text-footnote-m--font-weight: 500;
  --text-footnote-s: 0.875rem;
  --text-footnote-s--line-height: 1rem;
  --text-footnote-s--letter-spacing: 0rem;
  --text-footnote-s--font-weight: 400;
  --text-caption-l-1: 0.75rem;
  --text-caption-l-1--line-height: 0.875rem;
  --text-caption-l-1--letter-spacing: 0rem;
  --text-caption-l-1--font-weight: 600;
  --text-caption-m-1: 0.75rem;
  --text-caption-m-1--line-height: 0.875rem;
  --text-caption-m-1--letter-spacing: 0rem;
  --text-caption-m-1--font-weight: 500;
  --text-caption-s-1: 0.75rem;
  --text-caption-s-1--line-height: 0.875rem;
  --text-caption-s-1--letter-spacing: 0rem;
  --text-caption-s-1--font-weight: 400;
  --text-caption-l-2: 0.625rem;
  --text-caption-l-2--line-height: 0.625rem;
  --text-caption-l-2--letter-spacing: 0rem;
  --text-caption-l-2--font-weight: 600;
  --text-caption-m-2: 0.625rem;
  --text-caption-m-2--line-height: 0.625rem;
  --text-caption-m-2--letter-spacing: 0rem;
  --text-caption-m-2--font-weight: 500;
  --text-caption-s-2: 0.625rem;
  --text-caption-s-2--line-height: 0.625rem;
  --text-caption-s-2--letter-spacing: 0rem;
  --text-caption-s-2--font-weight: 400;
  --radius-size-l: var(--spacing-space-8);
  --radius-size-m: var(--spacing-space-6);
  --radius-size-s: var(--spacing-space-5);
  --radius-size-full: 999px;
  --shadow-button-primary: inset 2px 2px 4px 0 #ffffff40, inset -2px -2px 4px 0 #6728161a, inset -2px -2px 0px 0 #6728161a,
    2px 1px 6px 0 #862c131a, 10px 5px 11px 0 #862c1317, 22px 11px 15px 0 #862c130d,
    39px 20px 17px 0 #862c1303, 60px 31px 19px 0 #862c1300;
  --spacing-button-l-vertical: 14px;
  --spacing-button-l-horizontal: 24px;
  --spacing-button-l-horizontal-icon: 20px;
  --spacing-button-l-icon: 16px;
  --spacing-button-m-vertical: 8px;
  --spacing-button-m-horizontal: 16px;
  --spacing-button-m-horizontal-icon: 14px;
  --spacing-button-m-icon: 10px;
  --spacing-button-s-vertical: 6px;
  --spacing-button-s-vertical-balance: 8px;
  --spacing-button-s-horizontal: 12px;
  --spacing-button-s-horizontal-icon: 10px;
  --spacing-button-s-icon: 6px;
  --spacing-mini-button-m-vertical: 6px;
  --spacing-mini-button-m-horizontal: 12px;
  --spacing-mini-button-s-vertical: 4px;
  --spacing-mini-button-s-horizontal: 8px;
  --spacing-chips-vertical-balance: 8px;
  --spacing-chips-vertical: 10px;
  --spacing-chips-horizontal: 12px;
  --spacing-switch-button-horizontal: 14px;
  --spacing-switch-button-vertical: 10px;
  --spacing-space-1: 2px;
  --spacing-space-2: 4px;
  --spacing-space-3: 6px;
  --spacing-space-4: 8px;
  --spacing-space-5: 10px;
  --spacing-space-6: 12px;
  --spacing-space-7: 14px;
  --spacing-space-8: 16px;
  --spacing-space-9: 20px;
  --spacing-space-10: 24px;
  --spacing-space-11: 28px;
  --spacing-space-12: 32px;
  --spacing-space-13: 36px;
  --spacing-space-14: 40px;
  --spacing-space-15: 44px;
  --spacing-space-16: 48px;
  --spacing-space-17: 56px;
  --spacing-space-18: 64px;
  --spacing-space-19: 80px;
  --spacing-space-20: 96px;
  --spacing-space-21: 112px;
  --spacing-space-22: 128px;
  --spacing-space-23: 144px;
  --spacing-space-24: 160px;
  --spacing-space-25: 192px;
  --spacing-space-26: 208px;
  --spacing-space-27: 224px;
  --spacing-space-28: 240px;
  --spacing-space-29: 256px;
  --spacing-space-30: 288px;
  --spacing-space-31: 320px;
  --spacing-space-32: 384px;
}
