@theme {
  --space-button-l-vertical: 14px;
  --space-button-l-horizontal: 24px;
  --space-button-l-horizontal-icon: 20px;
  --space-button-l-icon: 16px;

  --space-button-m-vertical: 8px;
  --space-button-m-horizontal: 16px;
  --space-button-m-horizontal-icon: 14px;
  --space-button-m-icon: 10px;

  --space-button-s-vertical: 6px;
  --space-button-s-vertical-balance: 8px;
  --space-button-s-horizontal: 12px;
  --space-button-s-horizontal-icon: 10px;
  --space-button-s-icon: 6px;

  --space-mini-button-m-vertical: 6px;
  --space-mini-button-m-horizontal: 12px;
}
