@theme {
  --color-brand-primary-100: #faf2ef;
  --color-brand-primary-200: #f5bfad;
  --color-brand-primary-300: #f39c7f;
  --color-brand-primary-400: #f0764f;
  --color-brand-primary-500: #ee5227;
  --color-brand-primary-600: #c03e1b;
  --color-brand-primary-700: #9b3114;
  --color-brand-primary-800: #76260f;
  --color-brand-primary-900: #511d0d;
  --color-brand-primary-1000: #2c150a;
  --color-brand-secondary-1-100: #fbdfdb;
  --color-brand-secondary-1-200: #fcbcb4;
  --color-brand-secondary-1-300: #fe958c;
  --color-brand-secondary-1-400: #fe6964;
  --color-brand-secondary-1-500: #fd2c41;
  --color-brand-secondary-1-600: #d90b30;
  --color-brand-secondary-1-700: #b40726;
  --color-brand-secondary-1-800: #86041a;
  --color-brand-secondary-1-900: #600611;
  --color-brand-secondary-1-1000: #390a05;
  --color-brand-secondary-2-100: #dbe6fb;
  --color-brand-secondary-2-200: #b2cefc;
  --color-brand-secondary-2-300: #83b7fe;
  --color-brand-secondary-2-400: #45a1fe;
  --color-brand-secondary-2-500: #0a89e6;
  --color-brand-secondary-2-600: #0772c0;
  --color-brand-secondary-2-700: #0663a8;
  --color-brand-secondary-2-800: #034578;
  --color-brand-secondary-2-900: #063055;
  --color-brand-secondary-2-1000: #071d34;
  --color-brand-secondary-3-100: #c6f543;
  --color-brand-secondary-3-200: #b2e325;
  --color-brand-secondary-3-300: #94c200;
  --color-brand-secondary-3-400: #80a800;
  --color-brand-secondary-3-500: #6f9201;
  --color-brand-secondary-3-600: #597600;
  --color-brand-secondary-3-700: #4a6300;
  --color-brand-secondary-3-800: #354800;
  --color-brand-secondary-3-900: #263202;
  --color-brand-secondary-3-1000: #191d04;
  --color-brand-secondary-4-100: #fde2a1;
  --color-brand-secondary-4-200: #fccb05;
  --color-brand-secondary-4-300: #d7ad00;
  --color-brand-secondary-4-400: #bb9600;
  --color-brand-secondary-4-500: #a28200;
  --color-brand-secondary-4-600: #846900;
  --color-brand-secondary-4-700: #6f5800;
  --color-brand-secondary-4-800: #514000;
  --color-brand-secondary-4-900: #392c00;
  --color-brand-secondary-4-1000: #221b03;
  --color-base-100: #f6f4f0;
  --color-base-200: #f0ebe1;
  --color-base-300: #b8b3a8;
  --color-base-400: #a09a8f;
  --color-base-500: #8b867a;
  --color-base-600: #716c62;
  --color-base-700: #5e5a53;
  --color-base-800: #44423d;
  --color-base-900: #302e2b;
  --color-base-1000: #1e1b16;
  --color-base-opacity-1000: #1e1b16;
  --color-base-opacity-900: #1e1b16;
  --color-base-opacity-800: #1e1b16;
  --color-base-opacity-700: #1e1b16;
  --color-base-opacity-600: #1e1b16;
  --color-base-opacity-500: #1e1b16;
  --color-base-opacity-400: #1e1b16;
  --color-base-opacity-300: #1e1b16;
  --color-base-opacity-200: #1e1b16;
  --color-base-opacity-100: #1e1b16;
  --color-text-main: var(--color-base-1000);
  --color-text-other: var(--color-base-400);
  --color-text-link: var(--color-brand-primary-500);
  --color-text-main: var(--base-1000);
  --color-text-other: var(--base-400);
  --color-text-link: var(--brand-primary-500);
}
