@import 'tailwindcss';

@theme {
  /* Brand Colors */
  --color-brand-primary-1000: hsla(19, 63%, 11%, 1);
  --color-brand-primary-900: hsla(14, 72%, 18%, 1);
  --color-brand-primary-800: hsla(13, 77%, 26%, 1);
  --color-brand-primary-700: hsla(13, 77%, 34%, 1);
  --color-brand-primary-600: hsla(13, 75%, 43%, 1);
  --color-brand-primary-500: hsla(13, 85%, 54%, 1);
  --color-brand-primary-400: hsla(15, 84%, 63%, 1);
  --color-brand-primary-300: hsla(15, 83%, 73%, 1);
  --color-brand-primary-200: hsla(15, 78%, 82%, 1);
  --color-brand-primary-100: hsla(16, 52%, 96%, 1);

  /* Brand Secondary */
  --color-brand-secondary-1-1000: hsla(6, 84%, 12%, 1);
  --color-brand-secondary-1-900: hsla(353, 88%, 20%, 1);
  --color-brand-secondary-1-800: hsla(350, 94%, 27%, 1);
  --color-brand-secondary-1-700: hsla(349, 93%, 37%, 1);
  --color-brand-secondary-1-600: hsla(349, 90%, 45%, 1);
  --color-brand-secondary-1-500: hsla(354, 98%, 58%, 1);
  --color-brand-secondary-1-400: hsla(2, 99%, 69%, 1);
  --color-brand-secondary-1-300: hsla(5, 98%, 77%, 1);
  --color-brand-secondary-1-200: hsla(7, 92%, 85%, 1);
  --color-brand-secondary-1-100: hsla(8, 80%, 92%, 1);

  /* Brand Secondary 2 */
  --color-brand-secondary-2-1000: hsla(211, 76%, 12%, 1);
  --color-brand-secondary-2-900: hsla(208, 87%, 18%, 1);
  --color-brand-secondary-2-800: hsla(206, 95%, 24%, 1);
  --color-brand-secondary-2-700: hsla(206, 93%, 34%, 1);
  --color-brand-secondary-2-600: hsla(205, 93%, 39%, 1);
  --color-brand-secondary-2-500: hsla(205, 92%, 47%, 1);
  --color-brand-secondary-2-400: hsla(210, 99%, 63%, 1);
  --color-brand-secondary-2-300: hsla(215, 98%, 75%, 1);
  --color-brand-secondary-2-200: hsla(217, 93%, 84%, 1);
  --color-brand-secondary-2-100: hsla(219, 80%, 92%, 1);

  /* Brand Secondary 3 */
  --color-brand-secondary-3-1000: hsla(70, 76%, 6%, 1);
  --color-brand-secondary-3-900: hsla(75, 92%, 10%, 1);
  --color-brand-secondary-3-800: hsla(76, 100%, 14%, 1);
  --color-brand-secondary-3-700: hsla(75, 100%, 19%, 1);
  --color-brand-secondary-3-600: hsla(75, 100%, 23%, 1);
  --color-brand-secondary-3-500: hsla(74, 99%, 29%, 1);
  --color-brand-secondary-3-400: hsla(74, 100%, 33%, 1);
  --color-brand-secondary-3-300: hsla(74, 100%, 38%, 1);
  --color-brand-secondary-3-200: hsla(75, 77%, 52%, 1);
  --color-brand-secondary-3-100: hsla(76, 90%, 61%, 1);

  /* Brand Secondary 4 */
  --color-brand-secondary-4-1000: hsla(46, 84%, 7%, 1);
  --color-brand-secondary-4-900: hsla(46, 100%, 11%, 1);
  --color-brand-secondary-4-800: hsla(47, 100%, 16%, 1);
  --color-brand-secondary-4-700: hsla(48, 100%, 22%, 1);
  --color-brand-secondary-4-600: hsla(48, 100%, 26%, 1);
  --color-brand-secondary-4-500: hsla(48, 100%, 32%, 1);
  --color-brand-secondary-4-400: hsla(48, 100%, 37%, 1);
  --color-brand-secondary-4-300: hsla(48, 100%, 42%, 1);
  --color-brand-secondary-4-200: hsla(48, 98%, 50%, 1);
  --color-brand-secondary-4-100: hsla(42, 96%, 81%, 1);

  /* Base Colors */
  --color-base-1000: hsla(38, 15%, 10%, 1);
  --color-base-900: hsla(36, 5%, 18%, 1);
  --color-base-800: hsla(43, 5%, 25%, 1);
  --color-base-700: hsla(38, 6%, 35%, 1);
  --color-base-600: hsla(40, 7%, 41%, 1);
  --color-base-500: hsla(42, 7%, 51%, 1);
  --color-base-400: hsla(39, 8%, 59%, 1);
  --color-base-300: hsla(41, 10%, 69%, 1);
  --color-base-200: hsla(40, 33%, 91%, 1);
  --color-base-100: hsla(40, 25%, 95%, 1);

  /* Base Opacity */
  --color-base-opacity-1000: hsla(38, 15%, 10%, 0.9);
  --color-base-opacity-900: hsla(38, 15%, 10%, 0.8);
  --color-base-opacity-800: hsla(38, 15%, 10%, 0.7);
  --color-base-opacity-700: hsla(38, 15%, 10%, 0.6);
  --color-base-opacity-600: hsla(38, 15%, 10%, 0.5);
  --color-base-opacity-500: hsla(38, 15%, 10%, 0.4);
  --color-base-opacity-400: hsla(38, 15%, 10%, 0.3);
  --color-base-opacity-300: hsla(38, 15%, 10%, 0.2);
  --color-base-opacity-200: hsla(38, 15%, 10%, 0.1);
  --color-base-opacity-100: hsla(38, 15%, 10%, 0.05);

  /* Spacings */
  --spacing-space-1: 0.125rem;
  --spacing-space-2: 0.25rem;
  --spacing-space-3: 0.375rem;
  --spacing-space-4: 0.5rem;
  --spacing-space-5: 0.625rem;
  --spacing-space-6: 0.75rem;
  --spacing-space-7: 0.875rem;
  --spacing-space-8: 1rem;
  --spacing-space-9: 1.25rem;
  --spacing-space-10: 1.5rem;
  --spacing-space-11: 1.75rem;
  --spacing-space-12: 2rem;
  --spacing-space-13: 2.25rem;
  --spacing-space-14: 2.5rem;
  --spacing-space-15: 2.75rem;
  --spacing-space-16: 3rem;
  --spacing-space-17: 3.5rem;
  --spacing-space-18: 4rem;
  --spacing-space-19: 5rem;
  --spacing-space-20: 6rem;
  --spacing-space-21: 7rem;
  --spacing-space-22: 8rem;
  --spacing-space-23: 9rem;
  --spacing-space-24: 10rem;
  --spacing-space-25: 12rem;
  --spacing-space-26: 13rem;
  --spacing-space-27: 14rem;
  --spacing-space-28: 15rem;
  --spacing-space-29: 16rem;
  --spacing-space-30: 18rem;
  --spacing-space-31: 20rem;
  --spacing-space-32: 24rem;
}
